body{
   background: rgb(168,219,168);
  }
#Container{
  width: 85%;
    }
#Navegación{
  margin-top: 5%;
  margin-left: 5%;
  padding: 5%;
  float:left;
  background: ;
}
#Cuerpo{
  margin-top: 0%;
  padding: 5%;
  width: 60%;
  float: right;
}

h2.linknavegacion{
  padding: 2% 0% 2% 5%;
  margin: 0%;
  font-size: 120%;
  font-family: sans-serif;
  color: Blue;
    }

a{
  background-color: rgb(59,134,134);
  width: 100%;
  color: white;
}

.seccion{
  padding: 2% 4% 4% 4%;
  margin-bottom: 20px;
  background: rgb(121,189,154);
}


h1 {
  color: rgb(77, 28, 101);
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  }

h3.titulos {
  font-family: Gill Sans / Gill Sans MT, sans-serif;
  font-size: 150%;
  padding-bottom: 1%;
  border-bottom: 3px solid rgb(59,134,134);
  margin-bottom: 10px;
}
